.Loading{
    
}
.EyeWrap{
    height: inherit;
    width: inherit;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.leftEye, .rightEye{
    height: 40px;
    width: 40px;
    background: white;
    border-radius: 13px;
    transition: .3;
}

.blink{
    animation: Blink .5s 1s ease forwards;
}

@keyframes Blink{
    0%{
        height: 40px;
    }
    25%{
        height: 20px;
    }
    50%{
        height: 40px;
    }
    75%{
        height: 20px;
    }
    100%{
        height: 40px;
    }
}


.loadingText{
    position: fixed;
    background: black;
    top: 0;
    z-index: 11;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.deText{
    
    position: relative;
    top: 0;
    overflow: hidden;
}
.deTextWrap{
    width: fit-content;
    position: relative;
    padding: 0 0px;
}
.deText_behind{
    opacity: .4;
}
.deText_mask{
    color: white;
    top: 0;
    /* -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; */
}
.deText_Rec{
    top: 0;
    position: absolute;
    height: 100%;
    /* max 103% */
    width: 0%;
    overflow: hidden;
    /* animation: LoadText 5s 1s forwards cubic-bezier(0.86, 0, 0.07, 1); */
}

@keyframes LoadText{
    from{
        width: 0%;
    }
    to{
        width: 103%;
    }
}
.justContext{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 30px;
    width: 100vw;
}
.context{
    display: flex;
    gap: 5px;
}
.plus{
    padding-bottom: 15px;
    transform: rotateZ(45deg);
}